/* @import url('https://fonts.googleapis.com/css2?family=Life+Savers:wght@400;700;800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  max-width: 1920px;
  margin: auto;
  overflow-x: hidden;
  /* font-family: "Life Savers", serif; */
  font-family: "Outfit", sans-serif;
  font-style: normal;
}

:root {
  /* Colors */
  --white: #fff;
  --black: #000;
  --accent: #9A4497;
  --gray: #a5a5a5;
}

a {
  text-decoration: none;
}